@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Rock+Salt&display=swap');
/*main CSS for all pages*/
div{
    max-width: 1600px;
    margin:0 auto;  
}
body{
	background-color:#8da7be;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header{
	display: grid;
    grid-template-columns: 100%;
    background-color:#1B5E88;
    color: white;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a{
    color:white;
    text-decoration: none;
    font-family: 'Nunito', 'Helvetica', sans-serif;
    text-align: center;
    padding: 35px;
}
nav a:hover{
	background-color:#51423d;
    color: white;
}
.logo{
    width: 70px;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#banner{
    background-color: #51423d;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 0%;
}
#banner-box {
    margin-top: 2%;
    grid-column: 2/3;
    grid-row: 1/2;
    z-index: 1;
}
#banner-msg {
    max-width: 33%;
    margin-left: 33%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
    z-index: 2;
}
.home-msg{
    text-align: center;
    color: white;
    margin-top: 25%;
    margin-bottom: -1%;
    background-color: #1b5e88;
}
/* CSS for page 2 */
.page2-msg{
    text-align: center;
    color: white;
    margin-top: -20%;
    margin-bottom: 0%;
    background-color: #1b5e88;
}
#banner-msg h4 {
    text-align: center;
    color: white;
    font-family: 'Nunito', 'Helvetica', sans-serif;
    margin: 0;
    background-color: #1b5e88;
}
#banner-msg p{
    text-align: center;
    font-family: 'Nunito', 'Helvetica', sans-serif;
    font-size: medium;
    margin-top: 100%;
    background-color: #1b5e88;
}
main{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50%;

}
main #shoeing-img{
    margin-top: 20%;
    grid-column: 1/2;
}
main .msg{
    grid-column: 2/3;
    grid-row: 1/3;
    text-align: center;
    margin-top: 45%;
    margin-bottom: 20%;
    background-color: #1B5e88;
}
main .msg p{
    font-family: 'Nunito', 'Helvetica', sans-serif;
    font-size: x-large;
}
.page-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 20% 50%;
}
#shoeing-img{
    margin-left: 10%;
    grid-column: 1/2;
    grid-row: 1/2;
}
#pad-img{
    margin-left: 20%;
    grid-column: 1/2;
    grid-row: 1/2;
}
#hooves-img{
    margin-left: 40%;
    grid-column: 1/2;
    grid-row: 1/2;
}
.shoeing-msg{
    margin-top: 20%;
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
}
.shoeing-msg h2{
    background-color: #1B5e88;
}
.shoeing-list{
    text-align: left;
    font-family: 'Nunito', 'Helvetica', sans-serif;
    font-size: large;
}
#dentist-images{
    grid-column: 2/3;
    grid-row: 3/4;
}
#dentist-img{
    margin-left: 10%;
}
#float-img{
    margin-left: 20%;
}
#teeth-img{
    margin-left: 40%;
}
.dentist-msg{
    margin-top: 20%;
    text-align: center;
    grid-column: 1/2;
    grid-row: 3/4;
}
.dentist-msg h2{
    background-color: #1B5e88;
}
.dentist-list{
    text-align: left;
    font-family: 'Nunito', 'Helvetica', sans-serif;
    font-size: large;
}

/* Page 3 CSS */
.page3-msg{
    text-align: center;
    color: white;
    margin-top: 0%;
    margin-bottom: 0%;
    background-color: #1b5e88;
}
.page3p{
    text-align: center;
    font-family: 'Nunito', 'Helvetica', sans-serif;
    font-size: large;
    margin-top: -100%;
    background-color: #1b5e88;
}
#page3-img{
    max-height: 800px;
    max-width: 1200px;
}
#hoofcare-images{
    grid-column: 1/2;
    grid-row: 1/2;
    padding: 5%;
    margin: 0 auto;
}
.hoof-msg{
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    padding: 5%;
}
.hoofcare{
    text-align: left;
    font-family: 'Nunito', 'Helvetica', sans-serif;
    font-size: medium;  
}
#dental-images{
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0 auto;
    padding: 5%;
}
.dentalcare-msg{
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
    padding: 5%;
}
.dentalcare{
    text-align: left;
    font-family: 'Nunito', 'Helvetica', sans-serif;
    font-size: medium;  
}

/* CSS for contactus page */
#sunset-img{
   margin-left: 28%;
}
.contact-info{
    margin-top: -75%;
}
.contactus{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50%;
    margin-top: 0%;
}
.map{
    margin-left: 30%;
    margin-top: 10%;
}


/* footer CSS for all pages*/
footer{
    background-color:#1B5E88;
    color: white;
    font-family: 'Nunito', 'Helvetica', sans-serif;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p{
    font-size:1.2em;
    padding-right: 1%;
}
footer p:hover{
    text-decoration: underline;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    color: white;
}
footer .social img {
    padding-top: 15px;
    max-width: 30px;
    max-height: 30px; 
}

