@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Rock+Salt&display=swap');

div{
    max-width: 1600px;
    margin:0 auto;
}
body{
	background-color:#8ecae6;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header{
	display: grid;
    grid-template-columns: 150px auto;
    background-color:#034363;
    color: white;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a{
    color:white;
    text-decoration: none;
    font-family: 'Nunito', 'Helvetica', sans-serif;
    text-align: center;
    padding: 35px;
}
nav a:hover{
	background-color:#8ecae6;
    color: white;
}
.home-title{
    color: white;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
.button-box{
    text-align: center;
    margin-top: -5%;
}
.book{
    background-color:rgb(3, 102, 3);
    color: white;
    text-decoration: none;
    font-family: 'Nunito', 'Helvetica', sans-serif;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 5px:
}
.book:hover{
    background-color:tan;
    color: white;
}
.logo{
    width: 80px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.home-title{
    color: white;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-msg h1 {
    text-align: center;
    color: white;
}
.page2-grid{
    display: grid;
}
#salmontext h1{
    text-align: center;
    font-size: large;
}
#grandcanyontext h1, #graycanyontext h1{
    text-align: center;
    font-size: large;
    padding-top: 5%;
}
h3{
    text-align: left;
    font-family: 'Nunito', 'Helvetica', sans-serif;
}
.salmon-img, .grandcanyon-img, .graycanyon-img{
    max-width: 800px;
    max-height: 500px;
}
.river1, .river2, .river3{
    max-width: 800px;
    max-height: 500px;
    font-size: large;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}
.salmon{
    grid-column: 1/2;
    grid-row: 1/2;
    padding-top: 10%;
}
#salmontext{
    grid-column: 2/3;
    grid-row: 1/2;
    padding-top: 10%;
}
.grandcanyon{
    grid-column: 2/3;
    grid-row: 2/3;
}
#grandcanyontext{
    grid-column: 1/2;
    grid-row: 2/3;
}
.graycanyon{
    grid-column:1/2;
    grid-row: 3/4;
}
#graycanyontext{
    grid-column: 2/3;
    grid-row: 3/4;
}




footer{
    background-color:#034363;
    color: white;
    font-family: 'Nunito', 'Helvetica', sans-serif;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p{
    font-size:1.2em;
}
footer p:hover{
    text-decoration: underline;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    color: white;
}
footer .social img {
    padding-top: 15px;
}