div{
    max-width: 1600px;
    margin:0 auto;
}
nav a{
    text-align:center;
}
#hero-msg h1, #hero-msg h4{
    text-align: center;
    color: black;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
body{
	background-color:#8ecae6;
}
header{
	background-color:#034363;
    color: white;
}
nav a{
    color:white;
    text-decoration: none;
}
nav a:hover{
	background-color:#8ecae6;
    color: white;
}
.home-title{
    color: white;
}
.book, .join{
    background-color:rgb(3, 102, 3);
    color: white;
    text-decoration: none;
}
.book:hover, .join:hover{
    background-color:tan;
    color: white;
}
#background{
    height: 725px;
    background-color:whitesmoke;  
}
.msg{
    background-color:white; 
}
.msg h2{
    color: black;
}
.msg p{
    color: black;
}
footer{
    background-color:#034363;
    color: white;
}
footer p{
    font-size:1.2em;
}
footer p:hover{
    text-decoration: underline;
}
footer a{
    color: white;
    text-decoration: none;
}
footer a:hover{
    color: white;
}
.logo{
    width: 80px;
}
.icon{
	width:80px;
}
